body {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #e3f2e3;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto  ;
    column-gap: 50px;
    width: 100%;
    padding: 20px 150px 20px 150px ;
}

.grid-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
} 

.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, 
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

form{
    text-align: center;
    display: inline-block;
}


input[type="text"],
input[type="number"],
input[type="submit"] {
    display: block;
    margin: 10px 250px 10px 0px;
    background-color: #f3f3f3;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

input[type="submit"] {
    background-color: #009879;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%; /* Set a fixed width for the button */
    padding: 10px 0; /* Adjust padding for better appearance */
    margin: 10px auto; /* Center-align the button using auto margins */
}

input[type="submit"]:hover {
    background-color: #009878;
}

.my-form {
    max-width: 400px; /* Adjust width as needed */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow with blur radius */
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}